$font-family: "Open Sans", sans-serif;

$primary-color: white;
$secondary-color: #21a2d5;

$card-face-color: ghostwhite;
$border-rounding-primary: 10px;
$border-rounding-secondary: 5px;

$primary-border: solid 2px $primary-color;
$secondary-border: solid 2px $secondary-color;

$card-shadowing: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);

$primary-padding: 10px;
